.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

header,
main {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #252432;
    font-size: 1rem;
    font-family: inter;
    font-weight: 700;
    margin: 0 24px;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.banner-title {
    font-size: 4rem;
    font-family: notoserif;
    font-weight: bold;
}

.banner-description {
    color: #00000088;
    font-family: inter;
    font-size: 1.3rem;

}

.plant-section {
    text-align: center;
    margin-top: 120px;
}

.plant-section h3 {
    font-size: 3.1rem;
    font-family: notoserif;
    font-weight: 700;
}

.plant-section p {
    color: #00000088;
    font-family: inter;
    font-size: 1.3rem;
}

.flower-card {
    margin-top: 50px;
}

.flower-card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.flower-card h2 {
    font-family: inter;
    font-size: 1.5rem;
    font-weight: 400;
    color: #111111;
}

.flower-card h3 {
    font-family: inter;
    font-size: 1.5rem;
    color: #111111;
    font-weight: 600;
}

.cart-btn {
    background-color: #E95A08;
    font-family: inter;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    padding: 19px 80px;
    border: none;
}

.flower-lover-container {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.lover-text-section {
    margin-left: 100px;
}

.lover-title {
    font-size: 3.1rem;
    font-family: notoserif;
    color: black;
    font-weight: bold;
}

.lover-description li {
    line-height: 35px;
    font-size: 1.3rem;
    font-family: inter;
    color: rgba(0, 0, 0, 0.507);
    padding: 20px;
}

.store-section-image {
    position: relative;
}

.image-2 {
    position: absolute;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.5));
    height: 286px;
    width: 286px;
    top: -130px;
    left: 395px;
}

.deals-img-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.deals-section {
    text-align: center;
    margin-top: 130px;
}

.deals-section h3 {
    font-size: 3.1rem;
    font-family: notoserif;
    font-weight: 700;
}

.deals-section p {
    color: #00000088;
    font-family: inter;
    font-size: 1.3rem;
}

.deals-image-section {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}


.bloom-description h3 {
    font-size: 1.25rem;
    font-family: notoserif;
    font-weight: bold;
    color: white;
}

.bloom-area {
    position: relative;
}

.bloom-area img {
    border-radius: 25px;
}

.bloom-area-right img {
    border-radius: 25px;
}

.bloom-description {
    position: absolute;
    top: 50px;
    text-align: center;
    left: 90px;
}

.bloom-description p {
    font-size: 1rem;
    font-family: inter;
    font-weight: 600;
    color: white;
    text-decoration: underline;
}

/* -------------------- */
.bloom-description-right h3 {
    font-size: 2.5rem;
    font-family: notoserif;
    font-weight: bold;
    color: white;
}

.bloom-area-right {
    position: relative;
    border-radius: 25px;
}

.bloom-description-right {
    position: absolute;
    top: 100px;
    text-align: center;
    left: 180px;
}

.gradiant {
    background: linear-gradient(black);
    opacity: 0.4;
    height: 424px;
    width: 753px;
    position: absolute;
    border-radius: 25px;
    top: 0;
}

.gradiant-left-1 {
    background: linear-gradient(black);
    opacity: 0.4;
    height: 202px;
    width: 367px;
    position: absolute;
    border-radius: 25px;
    top: 0;
}

.gradiant-left-2 {
    background: linear-gradient(black);
    opacity: 0.4;
    height: 199px;
    width: 367px;
    position: absolute;
    border-radius: 25px;
    top: 0;
}

.bloom-description-right p {
    font-size: 1.75rem;
    font-family: inter;
    font-weight: 600;
    color: white;
    text-decoration: underline;
}

.newsletter {
    text-align: center;
    margin-top: 120px;
    background-image: url("./assets/news-letter-bg.png");
    background-size: cover;
    height: 540px;
}

.newsletter-field {
    padding-top: 200px;
}

.newsletter-field h1 {
    font-size: 3.1rem;
    font-weight: 700;
    font-family: notoserif;
    color: white;
}

.input {
    padding: 15px 500px 15px 20px;
    border: none;
    font-size: 1rem;
}

.subscribe-btn {
    padding: 14px 54px;
    background-color: #E95A08;
    font-family: inter;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}




@media only screen and (max-width: 425px) {

    .input {
        font-size: .8rem;
    }

    .subscribe-btn {
        padding: 14px 30px;
    }

    .bloom-description-right {
        top: 70px;
        left: 120px;
    }

    .input-field {
        margin: 0px 40px;
    }

    .newsletter-field {
        padding: 0px;
    }

    .newsletter {
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 60px;
    }

    .newsletter-field h1 {
        font-size: 1.25rem;
        padding-top: 30px;
    }

    .input {
        padding: 15px 10px 15px 20px;

    }

    .deals-img-right {
        margin-top: 0px;
    }

    .gradiant {
        height: 207px;
        width: 368px;
        margin-left: 20px;
    }

    .bloom-area-right img {
        width: 90%;
    }
    .bloom-area-right {
        margin-top: 20px;
    }

    .bloom-description-right h3 {
        font-size: 1.25rem;
        font-family: notoserif;
        font-weight: bold;
        color: white;
    }

    .bloom-description-right p {
        font-size: 1rem;
        font-family: inter;
        font-weight: 600;
        color: white;
        text-decoration: underline;
    }

    .deals-image-section {
        flex-direction: column;
    }

    .bloom-description {
        left: 120px;
    }

    .gradiant-left-1 {
        margin-left: 20px;
    }

    .gradiant-left-2 {
        margin-left: 20px;
    }

    .flower-lover-container {
        flex-direction: column;
        margin-top: 40px;
    }

    .image-1 {
        width: 100%;
    }

    .lover-text-section {
        text-align: left;
        margin: 0px;
    }

    .plant-section h3 {
        font-size: 1.5rem;
    }

    .plant-section {
        margin-top: 60px;
    }

    .plant-section p {
        font-size: 0.8rem;
    }

    .flower-card h2 {
        font-size: 1rem;
    }

    .flower-card h3 {
        font-size: 1rem;
    }

    .banner-section {
        flex-direction: column-reverse;
    }

    .banner-text-area {
        text-align: left;
    }

    .navbar-section img {
        width: 25%;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-section {
        margin-top: 20px;
    }

    .banner-description {
        font-size: 0.8rem;
    }

    .flower-card-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .flower-card-section img {
        width: 100%;
    }

    .cart-btn {
        padding: 19px 40px;
    }

    .hide {
        display: none;
    }

}