.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


header,
main {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #252432;
    font-size: 1rem;
    font-family: inter;
    font-weight: 700;
    margin: 0 24px;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.banner-title {
    font-size: 4rem;
    font-family: notoserif;
    font-weight: bold;
}

.banner-description {
    color: #00000088;
    font-family: inter;
    font-size: 1.3rem;

}

@media only screen and (max-width: 425px) {
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-text-area{
        text-align: left;
    }
    .navbar-section img{
        width: 25%;
    }
    .banner-title{
        font-size: 1.5rem;
    }
    .banner-section{
        margin-top: 20px;
    }
    .banner-description{
        font-size: 0.8rem;
    }
    .hide {
        display: none;
    }

}